fastapi
fastapi[standard]
sqlalchemy
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib
bcrypt==3.2.2
asyncpg
httpx
tmdbsimple
websockets==12.0
python-dotenv==1.1.0
psycopg2-binary
types-python-jose
types-passlib
types-requests
redis
rq
emails
sendgrid

# Linting and Formatting
black==24.3.0
isort==5.13.2
flake8==7.0.0
mypy==1.8.0