<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - All Bookings</title>

    <link rel="stylesheet" href="/resources/css/style.css" />
    <link rel="stylesheet" href="/resources/css/admin_bookings.css" />

    <script type="module" defer src="/resources/javascript/main.js"></script>
    <script type="module" defer src="/resources/javascript/admin_bookings.js"></script>
  </head>
  <body>
    {% include "navbar.njk" %}

    <header class="admin-header">
      <h1>Manage Bookings</h1>
    </header>

    <div class="admin-container">
      <h1>All Bookings</h1>

      <section class="booking-table-section">
        <table class="bookings-table" id="bookingsTable">
          <thead>
            <tr>
              <th>Booking Number</th>
              <th>User ID</th>
              <th>Showing ID</th>
              <th>Status</th>
              <th>Total Price</th>
              <th>Created At</th>
            </tr>
          </thead>
          <tbody>
            <!-- Data injected by TypeScript -->
          </tbody>
        </table>
      </section>
    </div>
  </body>
</html>
