<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LynrieScoop - Admin Movie Database</title>
    <link rel="stylesheet" href="/resources/css/style.css" />
    <link rel="stylesheet" href="/resources/css/admin.css" />
    <link rel="stylesheet" href="/resources/css/admin_movie_database.css" />
    {% include "env.njk" %}
    <script defer type="module" src="/resources/javascript/main.js"></script>
    <script defer type="module" src="/resources/javascript/nav.js"></script>
    <script defer type="module" src="/resources/javascript/admin_movie_database.js"></script>
  </head>
  <body>
    {% include "navbar.njk" %}

    <header class="admin-header">
      <h1>Movie Database Management</h1>
    </header>

    <main class="admin-container">
      <section class="form-section">
        <h2>Add movie to database</h2>

        <label for="searchTmdb">Search TMDB Movies:</label>
        <input type="text" id="searchTmdb" placeholder="Type a movie title..." autocomplete="off" />
        <div id="tmdbSearchResults" class="movie-results"></div>
        <div id="addMovieFeedback" class="feedback"></div>
      </section>

      <section class="overview-section">
        <h2>Movies in database</h2>
        <div id="allMoviesList" class="movie-results"></div>
      </section>
    </main>
    {% include "footer.njk" %}
  </body>
</html>
