<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Movie Details</title>
    {% include "env.njk" %}
    <script defer type="module" src="/resources/javascript/main.js"></script>
    <script src="../../resources/javascript/movie_detail.js"></script>
    <link rel="stylesheet" href="../../resources/Css/movie_detail.css" />
    <link rel="stylesheet" href="../../resources/Css/style.css" />
  </head>
  <body>
    {% include "navbar.njk" %}

    <div id="movieDetailContainer" class="movie-detail-container">
      <!-- Movie details will be rendered here by movie_detail.ts -->
    </div>
  </body>
</html>
