<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lynriescoop - Movies</title>
    <link rel="stylesheet" href="/resources/css/style.css" />
    <script defer type="module" src="/resources/javascript/main.js"></script>
    <script src="/resources/javascript/movies.js" type="module"></script>
  </head>

  <body>
    {% include "navbar.njk" %}

    <!-- Filter bar -->
    <section class="filter-bar" id="filter-bar"></section>

    <!-- Movie grid -->
    <section class="movies-grid" id="movies-list"></section>
  </body>
</html>
