<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lynriescoop - My Movies</title>
    <link rel="stylesheet" href="/resources/css/style.css" />
    <link rel="stylesheet" href="/resources/css/my_movies.css" />
    {% include "env.njk" %}
    <script defer type="module" src="/resources/javascript/main.js"></script>
    <script defer src="/resources/javascript/my_movies.js"></script>
  </head>
  <body>
    {% include "navbar.njk" %}

    <section class="upcoming-movies">
      <h2>Booked movies</h2>
      <div class="movie-list" id="upcoming-list">
        <!-- Dynamisch geladen via JS -->
      </div>
    </section>

    <section class="watched-movies">
      <h2>Previous movies</h2>
      <div class="movie-list" id="watched-list">
        <!-- Dynamisch geladen via JS -->
      </div>
    </section>
  </body>
</html>
