<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Lynriescoop - My Movies</title>
  <link rel="stylesheet" href="/resources/css/style.css" />

  <script defer src="/resources/javascript/main.js"></script>
  <script defer src="/resources/javascript/mymovies.js"></script>
  <script defer src="/resources/javascript/main.js" type="module"></script>
</head>

<body>
  {% include "navbar.njk" %}


  <section class="upcoming-movies">
    <!-- Upcoming movies will be listed here -->
  </section>

  <section class="watched-movies">
    <!-- Watched movies will be listed here -->
  </section>
</body>

</html>