<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Lynriescoop - My Movies</title>
  <link rel="stylesheet" href="../Resources/css/style.css" />
</head>
<body>
  <nav class="navbar">
    <img src="../Resources/images/logo/LynrieScoop2_transparant.png" alt="Lynriescoop Logo" />
    <ul>
      <li><a href="../index.html">Home</a></li>
      <li><a href="movies.html">Movies</a></li>
      <li><a href="mymovies.html">My Movies</a></li>
      <li><a href="login.html">Login</a></li>
    </ul>
  </nav>

  <section class="upcoming-movies">
    <!-- Upcoming movies will be listed here -->
  </section>

  <section class="watched-movies">
    <!-- Watched movies will be listed here -->
  </section>

  <script src="../Resources/javascript/main.js"></script>
  <script src="../Resources/javascript/mymovies.js"></script>
</body>
</html>
