<nav class="navbar">
  <a href="/"><img src="/resources/images/logo/LynrieScoop2_transparant.png" alt="Lynriescoop Logo" /></a>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/views/now_playing">Now Playing</a></li>
    <li class="auth-only"><a href="/views/my_movies">My Movies</a></li>
    <li class="auth-only admin-only" style="display: none;"><a href="/views/admin">Admin Panel</a></li>
    <li class="guest-only"><a href="/views/login">Login</a></li>
    <li class="auth-only logout-link" style="display: none;"><a href="#" id="logoutBtn">Logout</a></li>
  </ul>
</nav>
