<nav class="navbar">
  <img src="/resources/images/logo/LynrieScoop2_transparant.png" alt="Lynriescoop Logo" />
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/views/now_playing">Now Playing</a></li>
    <li class="auth-only"><a href="/views/mymovies">My Movies</a></li>
    <li class="guest-only"><a href="/views/login">Login</a></li>
  </ul>
</nav>
