<nav class="navbar">
  <img src="/resources/images/logo/LynrieScoop2_transparant.png" alt="Lynriescoop Logo" />
  <ul>
    <li><a href="/"><b>Home</b></a></li>
    <li><a href="/views/movies">Movies</a></li>
    <li class="auth-only"><a href="/views/mymovies">My Movies</a></li>
    <li><a href="/views/login">Login</a></li>
  </ul>
</nav>
