.screening-time-btn {
  color: white;
  border: none;
  padding: 0.3em 0.9em;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  margin: 0 0.25em 0.5em 0;
  font-size: 1rem;
}

.movie-card {
  background-color: #1e1e1e;
  color: var(--light-grey);
  border-radius: 8px;
  overflow: hidden;
  transition:
    transform 0.3s,
    box-shadow 0.3s;
  margin: 2rem 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 0.7em;
  align-items: center;
  justify-content: center;
}

.movie-card:hover {
  box-shadow: 0 0 15px var(--aqua-accent);
}

.poster-btn {
  background: none !important;
  color: inherit !important;
  border: none !important;
  box-shadow: none !important;
  padding: 0;
  cursor: pointer;
  display: block;
}

h2 {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0 0 0.2em 0;
  text-align: center;
  color: var(--light-grey);
  min-height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.poster-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: block;
}

.screening-times {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
  width: 100%;
  padding: 0.5em 1em 1em;
  box-sizing: border-box;
}

.movie-info {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.3em;
  margin-top: 0.1em;
  font-size: 1.05em;
  color: var(--light-grey);
}

.screening-room {
  font-weight: 500;
  font-style: bold;
  margin-right: 1.5em;
}

.screening-time-list-unique {
  list-style: none;
  padding-left: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.screening-time-btn:disabled {
  background-color: #888 !important;
  color: #fff !important;
  cursor: not-allowed !important;
  opacity: 1;
}
